/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles */
    color: #E43D12;;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: #EBE9E1;
    padding: 0.1rem 0.5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Take away link color */
header a {
    text-decoration: none;
    color: inherit;
    background-color: #EBE9E1;
    font-size: 70%;
}

h1 {
    font-family: 'Playfair+Display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #E43D12;
}

#menu {
    font-size: 130%;
    letter-spacing: 1px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 1px solid #E43D12;
}

/* Navbar styles */
nav {
    position: absolute;
    background-color: #EBE9E1;
    width: 100%;
    left: 0;
    padding: 0 0.5rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    background-color: #EBE9E1;
    /* Take all space to push footer down */
    flex: 1 0 auto;
    margin-top: 41px;
}

/* Footer */
footer {
    background-color: #EBE9E1;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        font-size: 120%;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 0.5rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 300%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /* Main */
    main {
        /* Push main content down, because of a larger header */
        margin-top: 54px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #E43D12;
    }
}
